<div class="container">
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <h3>Biografia</h3>
    </div>
    <div class="col-lg-4 offset-lg-2">
      <p>
        "Un pennello prestato alla quotidianit&agrave;" cos&igrave; Gloria De Salve ama definirsi.
        Artista dalle variegate sfumature spazia dal concettuale al figurativo.<br>
        Diplomata alla scuola d'arte prosegue i suoi studi a conclusione dei quali ottiene
        il titolo di dottoressa in storia dell'arte moderna e contemporanea.
      </p>
    </div>
    <div class="col-lg-4">
      <p>
        "Artista precaria" &egrave; una ulteriore definizione che d&agrave; di s&egrave; stessa;
        strappa istanti al tempo per raccontare le sue giornate e i suoi stati d'animo
        emigrandoli su tela, e non solo, a suon di pennellate.<br>
        Le sue opere non fanno altro che scuotere "dall'anima la polvere accumulata nella vita di tutti i giorni" (P.Picasso).
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <h3>I materiali contano</h3>
    </div>
    <div class="col-lg-4 offset-lg-2">
      <p>
        La vita &egrave; fatta di incontri piccoli e sorprendenti: una vecchia rivista trovata tra i banchi della
        fiera antiquaria rappresenta un bagliore tra i pensieri aggrovigliati di un'artista che gi&agrave; sa cosa farne.
        L'istante esatto della scoperta rievoca alla mente immagini che, combinate grazie
        all'uso di tecniche semplici, si inseriscono prepotenti nel flusso del quotidiano vivere.<br>
        Dalla semplicit&agrave; alla sperimentazione, potremmo definire questo il percorso che l'artista compie.
      </p>
    </div>
    <div class="col-lg-4">
      <p>
        &Egrave; possibile osservare infatti come oltre a materiali in disuso utilizzi un supporto per
        le sue composizioni non convenzionale: la carta gelso. I colori e le forme si fondono e
        confondono con strade di carta, come fossero vita, storia, che fluisce dentro e fuori.<br>
        Trapela la necessit&agrave; di intervenire nel mondo in qualsiasi modo, utilizzando e trasformando frammenti,
        detriti di carta e ogni altro materiale, raccolto e archiviato nella artistica-mente.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <h3>Ispirazioni artistiche</h3>
    </div>
    <div class="col-lg-4 offset-lg-2">
      <p>
        Il consumo fittizio, il mutismo che opprime, l'industria culturale, l'inerzia di un
        abbraccio, la metamorfosi degli insonni: sono questi i temi affrontati
        dall'artista. L'arte diviene strumento di denuncia sociale; ci si trova a riflettere,
        perfino a ridere, un riso amaro.
      </p>
      <small>
        "Il sogno &egrave; una fabbrica dove una sterminata moltitudine si affaccenda inoperosamente
        per continuare a farci, disfarci e rifarci."<br>
        <i>(Massimo Filippi - Frammenti di liberazione animale)</i>
      </small>
      <hr class="citazioni">
      <p>
        <small>
          "Il baccano degli acquari &egrave; il silenzio che opprime, un mutismo a cui corrisponde anche l'inerzia
          di un singolo abbraccio.
        </small>
      </p>
    </div>
    <div class="col-lg-4">
      <p>
        <small>
          Il tentativo di emergere da chi segue la corrente.
          Trattengo il respiro come se fossi in fondo al mare, per riemergere basterebbe un respiro.
          Ma in fondo chi sono io? Sono un'impopolare anguilla in un acquario di pesci rossi."<br>
          <i style="float: right">(Gloria De Salve)</i>
        </small>
      </p>
      <hr class="citazioni">
      <p>
        <small>
          "Metamorfosi degli insonni &egrave; uno stadio dell'anima che si ripercuote nel sociale,
          nella condizione dell'essere sospeso tra sogno e realt&agrave;; metamorfosi &egrave; prendere coscienza di se stessi
          per costruire quel trampolino di lancio che ci far&agrave; piombare nella vita; &egrave; quel cambiamento che
          rimanendo chiuso nell'anima diviene trappola."<br>
          <i style="float: right">(Gloria De Salve)</i>
        </small>
      </p>
      <hr class="citazioni">
    </div>
  </div>
</div>
